In [1]:
import pandas as pd

In [2]:
# old_bee_data = pd.read_csv("../Data/bee_colony_survey_data_by_state.csv")
# new_bee_data = pd.read_csv("../Data/bee_colony_survey_data_by_state_2018_2022.csv")

In [3]:
# colony_loss_data = pd.read_excel("../Data/bee_colony_loss.xlsx")

In [4]:
# census_data = pd.read_csv("../Data/bee_colony_census_data_by_county.csv")

In [5]:
# colony_loss_data.to_csv("../Data/bee_colony_loss.csv")

In [6]:
# colony_loss = pd.read_csv("../Data/bee_colony_loss.csv")

In [7]:
# colony_loss.count()

In [8]:
# colony_loss.columns

In [9]:
# colony_loss.head()

In [10]:
# old_bee_data.head()

In [11]:
# new_bee_data.head()

In [12]:
# colony_loss.head()

In [13]:
# colony_loss.Season.unique()

In [14]:
# del colony_loss["Unnamed: 0"]
# del colony_loss['Season']

In [15]:
# colony_loss.columns = "year", "state", "total_annual_loss", "beekeepers", "beekeepers_exclusive_to_state", "colonies", "colonies_exclusive_to_state"

In [16]:
# colony_loss.head()

In [17]:
# colony_loss.info()

In [18]:
# colony_loss.to_csv("bee_colony_loss_standardized.csv")

In [19]:
# census_data.head()

In [20]:
# census_data.info()

In [21]:
# old_bee_data.head()

In [22]:
# old_bee_data["Week Ending"].unique()

In [23]:
# new_bee_data.head()

In [24]:
# old_bee_data.columns

In [25]:
# colony_loss.columns

In [26]:
# old_bee_data["Data Item"].unique()

In [27]:
# colony_loss.total_annual_loss.unique()

In [28]:
# old_bee_data["Week Ending"].unique()

In [29]:
# colony_loss.year.unique()

In [30]:
# old_bee_data.columns

In [31]:
# old_bee_data.columns = "year", "period", "week_ending", "state", "state_ansi", "watershed", "data_item", "value", "cv_percent"
# old_bee_data.head()

In [32]:
# cols = ["period", 'state', 'data_item']

In [33]:
# for col in cols:
#     old_bee_data[col] = old_bee_data[col].str.lower()

In [34]:
# old_bee_data.head()

In [37]:
bcl = pd.read_csv("BeeInformed_States_Loss_Table_by_Year_public_ready_2022.csv")
bcl.head()

,Column name as written in R Script,Full State name,State abbreviation,Survey Year,Season,"Method of tallying multi-states operations (included in all states, excluded from all states, exlusively multi-states)",Number of valid respondents,Bootstrap replication,Bootstrap method,Bootstrap estimate of the Total Loss (weigthed average),...,standard deviation of operational losses,standard error of the unweithed average estimate,glm-based 95% confidence interval(low) of the unweighted average loss,glm-based 95% confidence interval(high) of the unweighted average loss,Total number of colonies at the start of the season,"Total number of colonies ""at risk"" (colonies at the start, new colonies added, without colonies sold or given away)",Total number of colonies lost during the season,Total number of colonies alive at the end of the season,Percentage of beekeepers exlusive to the state,Percentage of colonies exclusive to the state
0,State,state,initials,SurveyYear,Season,Method,N,b.rep,b.method,TL.b.mean,...,AvL.sd,AvL.se,AvL.CI2.5,AvL.CI97.5,TotalColStart,TotalColAtRisk,TotalColLost,TotalColAlive,PtBkExclusiveToState,PColExclusiveToState
1,TF_States_AL,Alabama,AL,2008,Annual,MSO in,0,1000,n-out-of-n,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
2,TF_States_AK,Alaska,AK,2008,Annual,MSO in,0,1000,n-out-of-n,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
3,TF_States_AZ,Arizona,AZ,2008,Annual,MSO in,0,1000,n-out-of-n,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
4,TF_States_AR,Arkansas,AR,2008,Annual,MSO in,0,1000,n-out-of-n,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN

In [39]:
bcl["Survey Year"].value_counts()

2008          468
2009          468
2010          468
2011          468
2012          468
2013          468
2014          468
2015          468
2016          468
2017          468
2018          468
2019          468
2020          468
2021          468
2022          468
SurveyYear      1
Name: Survey Year, dtype: int64

In [40]:
bcl.columns

Index(['Column name as written in R Script', 'Full State name',
       'State abbreviation', 'Survey Year', 'Season',
       'Method of tallying multi-states operations (included in all states, excluded from all states, exlusively multi-states)',
       'Number of valid respondents', 'Bootstrap replication',
       'Bootstrap method',
       'Bootstrap estimate of the Total Loss (weigthed average)',
       'Boostrap-based 95% confidence interval(low) of the weighted average loss',
       'Boostrap-based 95% confidence interval(high) of the weighted average loss',
       'Bootstrap estimate of the Average Loss (unweigthed average)',
       'Boostrap-based 95% confidence interval(low) of the unweighted average loss',
       'Boostrap-based 95% confidence interval(high) of the unweighted average loss',
       'Total Loss (weigthed average)',
       'glm-based 95% confidence interval(low) of the weighted average loss',
       'glm-based 95% confidence interval(high) of the weighted average loss',
       'Average Loss (unweigthed average)',
       'standard deviation of operational losses',
       'standard error of the unweithed average estimate',
       'glm-based 95% confidence interval(low) of the unweighted average loss',
       'glm-based 95% confidence interval(high) of the unweighted average loss',
       'Total number of colonies at the start of the season',
       'Total number of colonies "at risk" (colonies at the start, new colonies added, without colonies sold or given away)',
       'Total number of colonies lost during the season',
       'Total number of colonies alive at the end of the season',
       'Percentage of beekeepers exlusive to the state',
       'Percentage of colonies exclusive to the state'],
      dtype='object')

In [41]:
bcl = bcl.drop(columns=["Column name as written in R Script", 'State abbreviation', "Method of tallying multi-states operations (included in all states, excluded from all states, exlusively multi-states)", 
       'Bootstrap replication',
       'Bootstrap method',
       'Bootstrap estimate of the Total Loss (weigthed average)',
       'Boostrap-based 95% confidence interval(low) of the weighted average loss',
       'Boostrap-based 95% confidence interval(high) of the weighted average loss',
       'Bootstrap estimate of the Average Loss (unweigthed average)',
       'Boostrap-based 95% confidence interval(low) of the unweighted average loss',
       'Boostrap-based 95% confidence interval(high) of the unweighted average loss',
       'glm-based 95% confidence interval(low) of the weighted average loss',
       'glm-based 95% confidence interval(high) of the weighted average loss',
       'standard deviation of operational losses',
       'standard error of the unweithed average estimate',
       'glm-based 95% confidence interval(low) of the unweighted average loss',
       'glm-based 95% confidence interval(high) of the unweighted average loss',
       'Total number of colonies "at risk" (colonies at the start, new colonies added, without colonies sold or given away)'])
bcl.head()

,Full State name,Survey Year,Season,Number of valid respondents,Total Loss (weigthed average),Average Loss (unweigthed average),Total number of colonies at the start of the season,Total number of colonies lost during the season,Total number of colonies alive at the end of the season,Percentage of beekeepers exlusive to the state,Percentage of colonies exclusive to the state
0,state,SurveyYear,Season,N,TL,AL,TotalColStart,TotalColLost,TotalColAlive,PtBkExclusiveToState,PColExclusiveToState
1,Alabama,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
2,Alaska,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
3,Arizona,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
4,Arkansas,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN

In [42]:
bcl = bcl.iloc[1:, :]

In [43]:
bcl.head()

,Full State name,Survey Year,Season,Number of valid respondents,Total Loss (weigthed average),Average Loss (unweigthed average),Total number of colonies at the start of the season,Total number of colonies lost during the season,Total number of colonies alive at the end of the season,Percentage of beekeepers exlusive to the state,Percentage of colonies exclusive to the state
1,Alabama,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
2,Alaska,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
3,Arizona,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
4,Arkansas,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
5,California,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN

In [44]:
bcl.columns = ["state", "year", "season", "beekeepers", "total_loss", "average_loss", "starting_colonies", "colonies_lost", "ending_colonies", "beekeepers_exclusive_to_state", "colonies_exclusive_to_state"]

In [45]:
bcl[bcl["year"] == "2008"]

,state,year,season,beekeepers,total_loss,average_loss,starting_colonies,colonies_lost,ending_colonies,beekeepers_exclusive_to_state,colonies_exclusive_to_state
1,Alabama,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
2,Alaska,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
3,Arizona,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
4,Arkansas,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
5,California,2008,Annual,0,NaN,NaN,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4832,West Virginia,2008,Winter,16,35.1305813,27.295408,2174,834,1540,100,100
4833,Wisconsin,2008,Winter,14,66.21900826,51.69457453,3472,2564,1308,100,100
4834,Wyoming,2008,Winter,0,NaN,NaN,0,0,0,NaN,NaN
4835,Non Continental USA,2008,Winter,0,NaN,NaN,0,0,0,NaN,NaN
4836,MultiStates,2008,Winter,43,31.15699173,29.76307293,202865,72421,160018,0,0

In [46]:
bcl = pd.read_csv("bee_colony_loss.csv")
del bcl["Unnamed: 0"]

In [47]:
bcl.dtypes

state                             object
year                               int64
season                            object
beekeepers                         int64
total_loss                        object
average_loss                      object
starting_colonies                  int64
colonies_lost                     object
ending_colonies                   object
beekeepers_exclusive_to_state    float64
colonies_exclusive_to_state      float64
dtype: object

In [48]:
bcl[bcl.colonies_lost == "[R]"]

,state,year,season,beekeepers,total_loss,average_loss,starting_colonies,colonies_lost,ending_colonies,beekeepers_exclusive_to_state,colonies_exclusive_to_state
106,Arizona,2008,Winter,1,[R],[R],7400,[R],[R],0.0,0.0
109,Colorado,2008,Winter,3,[R],[R],2625,[R],[R],0.0,0.0
115,Idaho,2008,Winter,1,[R],[R],3400,[R],[R],0.0,0.0
116,Illinois,2008,Winter,1,[R],[R],6,[R],[R],100.0,100.0
119,Kansas,2008,Winter,1,[R],[R],3500,[R],[R],0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6991,Mississippi,2022,Winter,5,[R],[R],78,[R],[R],100.0,100.0
6995,Nevada,2022,Winter,8,[R],[R],59,[R],[R],100.0,100.0
7001,North Dakota,2022,Winter,1,[R],[R],75,[R],[R],100.0,100.0
7017,Wyoming,2022,Winter,8,[R],[R],35,[R],[R],100.0,100.0
7018,Non Continental USA,2022,Winter,7,[R],[R],577,[R],[R],100.0,100.0

In [49]:
bcl = bcl[bcl.season == "Annual"]

In [50]:
bcl = bcl[bcl.state != "Non Continental USA"]

In [51]:
bcl = bcl[bcl.state != "MultiStates"]

In [52]:
bcl.loc[bcl.starting_colonies == 0].total_loss = bcl[bcl.starting_colonies == 0].total_loss.fillna("0")

/var/folders/q3/1b2t5ssx44b5gc0gsnqnd4ww0000gn/T/ipykernel_2818/3259645999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bcl.loc[bcl.starting_colonies == 0].total_loss = bcl[bcl.starting_colonies == 0].total_loss.fillna("0")

In [53]:
bcl = bcl[bcl.state != "District of Columbia"]

In [54]:
bcl.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [55]:
bcl = bcl[bcl.beekeepers > 10]

In [56]:
bcl.head()

,state,year,season,beekeepers,total_loss,average_loss,starting_colonies,colonies_lost,ending_colonies,beekeepers_exclusive_to_state,colonies_exclusive_to_state
468,Alabama,2011,Annual,19,14.15929204,27.0136238,307,64,388,94.736842,96.091205
471,Arkansas,2011,Annual,14,31.57894737,19.76540616,49,24,52,85.714286,79.591837
472,California,2011,Annual,142,35.55825336,41.42370845,84959,46278,83869,79.577465,11.756259
473,Colorado,2011,Annual,61,38.22714681,33.80939165,403,276,446,98.360656,79.652605
474,Connecticut,2011,Annual,42,43.11926606,47.33394648,389,282,372,85.714286,38.046272

In [57]:
bcl.year.unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022])